Repository starknet-io/starknet-website, pull requests merged in 2023-11, with the labels that each got.

#1570 Create Event “mergulhe-na-starknet”
  _data/events/mergulhe-na-starknet.yml
  public/assets/frame-4-18.png
Labels: netlify-cms/pending_publish

#1571 Create Event “juno-nethermind-s-starknet-node-starknet-texas”
  _data/events/juno-nethermind-s-starknet-node-starknet-texas.yml
  public/assets/clean_493611460.webp
Labels: netlify-cms/pending_publish

#1574 Update Page “online-communities”
  _data/pages/online-communities.yml
Labels: netlify-cms/pending_publish

#1576 Create Post “stark-spaces-proving-ethereum-with-herodotus”
  _data/posts/stark-spaces-proving-ethereum-with-herodotus.yml
  public/assets/stark-spaces-proving-ethereum-with-herodotus-youtube.png
Labels: netlify-cms/pending_publish

#1583 Create Post “building-complex-fully-onchain-games-with-starknet”
  _data/posts/building-complex-fully-onchain-games-with-starknet.yml
  public/assets/on-chain-gaming-realms-influence-c.jpg
  public/assets/screenshot-2023-11-07-at-8.52.18.png
Labels: netlify-cms/pending_publish

#1584 Update Page “bridges-and-on-ramps”
  _data/pages/bridges-and-on-ramps.yml
  public/assets/rhino.fi-logo.png
Labels: netlify-cms/pending_publish

#1585 Update Post “building-complex-fully-onchain-games-with-starknet”
  _data/posts/building-complex-fully-onchain-games-with-starknet.yml
Labels: netlify-cms/pending_publish

#1580 Update Post “stark-spaces-proving-ethereum-with-herodotus”
  _data/posts/stark-spaces-proving-ethereum-with-herodotus.yml
Labels: netlify-cms/pending_publish

#1577 Update Page “full-nodes-api-services”
  _data/pages/full-nodes-api-services.yml
Labels: netlify-cms/pending_publish

#1586 Create Job “49e30ff8-3e58-4043-9b12-d92afbe8bf83”
  _data/jobs/49e30ff8-3e58-4043-9b12-d92afbe8bf83.yml
Labels: netlify-cms/pending_publish

#1588 Update Page “full-nodes-api-services”
  _data/pages/full-nodes-api-services.yml
Labels: netlify-cms/pending_publish

#1589 Update Page “full-nodes-api-services”
  _data/pages/full-nodes-api-services.yml
Labels: netlify-cms/pending_publish

#1587 Create Job “b6d6f28d-2f3c-4e20-994f-2f81b300bc62”
  _data/jobs/b6d6f28d-2f3c-4e20-994f-2f81b300bc62.yml
Labels: netlify-cms/pending_publish

#1590 Create Job “a37fa639-11a8-4895-b9ce-0cca859fd79d”
  _data/jobs/a37fa639-11a8-4895-b9ce-0cca859fd79d.yml
Labels: netlify-cms/pending_publish

#1591 Create Job “6d8a69cc-9f74-459e-8e7b-c0b0edde8c87”
  _data/jobs/6d8a69cc-9f74-459e-8e7b-c0b0edde8c87.yml
Labels: netlify-cms/pending_publish

#1610 Update Post “building-complex-fully-onchain-games-with-starknet”
  _data/posts/building-complex-fully-onchain-games-with-starknet.yml
Labels: netlify-cms/pending_publish

#1611 Create Roadmap version “ethereum-eip-4844”
  _data/roadmap-versions/ethereum-eip-4844.yml
Labels: netlify-cms/pending_publish

#1612 Create Roadmap version “future-version”
  _data/roadmap-versions/future-version.yml
Labels: netlify-cms/pending_publish

#1582 Fix robots.txt
  workspaces/website/functions/[[route]].ts
Labels: bug

#1616 Create Event “starknet-kaduna-meetup”
  _data/events/starknet-kaduna-meetup.yml
  public/assets/68167517-6b3e-47d7-9a7c-0e7b50f25fff.jpeg
Labels: netlify-cms/pending_publish

#1609 Update Page “security-audits”
  _data/pages/security-audits.yml
Labels: netlify-cms/pending_publish

#1620 Update Settings “permissions”
  _data/settings/permissions.yml
Labels: netlify-cms/pending_publish

#1622 Create Event “dive-into-starknet-salvador”
  _data/events/dive-into-starknet-salvador.yml
  public/assets/frame-4-20.png
Labels: netlify-cms/pending_publish

#1592 Create Post “defi-committee-launch-advancing-starknets-defi-progress”
  _data/posts/defi-committee-launch-advancing-starknets-defi-progress.yml
  public/assets/defi-committee-launch_-advancing-starknet-s-defi-progress-cropable.jpg
Labels: netlify-cms/pending_publish

#1624 Add mailchimp newsletter subscription
  .github/workflows/website.yml
  package.json
  workspaces/website/src/api/index.ts
  workspaces/website/src/dev-server/index.ts
  workspaces/website/src/pages/(components)/roadmap/RoadmapLayout.tsx
  workspaces/website/src/pages/(components)/roadmap/RoadmapSubscribeForm.tsx
  workspaces/website/src/pages/announcements/(components)/AnnouncementsPage.tsx
  workspaces/website/src/pages/announcements/index.page.server.tsx
  workspaces/website/src/pages/roadmap/(components)/RoadmapPage.tsx
  workspaces/website/src/pages/roadmap/index.page.server.tsx
  workspaces/website/src/style/algolia/overrides.css
  workspaces/website/src/types.d.ts
  yarn.lock
Labels: enhancement

#1627 Fix roadmap 404
  workspaces/website/src/pages/roadmap/@slug/(components)/RoadmapPost.tsx
  workspaces/website/src/pages/roadmap/@slug/index.page.server.tsx
Labels: bug

#1630 Fix table of contents
  workspaces/website/src/pages/(components)/TableOfContents/blocksToTOC.ts
Labels: bug

#1613 Update Roadmap Post “reduction-in-transaction-costs-via-volition-mode”
  _data/roadmap-posts/reduction-in-transaction-costs-via-volition-mode.yml
Labels: netlify-cms/pending_publish

#1635 Update Page “online-communities”
  _data/pages/online-communities.yml
Labels: netlify-cms/pending_publish

#1636 Create Event “starknet-nairobi-meetup-1”
  _data/events/starknet-nairobi-meetup-1.yml
  public/assets/e136f0ce-45a8-44d6-9751-7af30f4b583d.png
Labels: netlify-cms/pending_publish

#1634 Create Event “madrid-starknet-meetup-c”
  _data/events/madrid-starknet-meetup-c.yml
  public/assets/600_517050993-1.png
Labels: netlify-cms/pending_publish

#1637 Update backlog header
  workspaces/cms-config/src/collections/roadmapPosts.ts
  workspaces/website/src/pages/roadmap/@slug/(components)/RoadmapPost.tsx
Labels: enhancement

#1638 Update Page “block-explorers”
  _data/pages/block-explorers.yml
Labels: netlify-cms/pending_publish

#1641 Create Event “starknet-germany-web3-scaling-builders”
  _data/events/starknet-germany-web3-scaling-builders.yml
  public/assets/frame-7.png
Labels: netlify-cms/pending_publish

#1640 Create Job “09548ebb-0617-44cb-a91a-31c9fb64eb2a”
  _data/jobs/09548ebb-0617-44cb-a91a-31c9fb64eb2a.yml
Labels: netlify-cms/pending_publish

#1644 Update Event “madrid-starknet-meetup-c”
  _data/events/madrid-starknet-meetup-c.yml
Labels: netlify-cms/pending_publish

#1643 Update Page “block-explorers”
  _data/pages/block-explorers.yml
Labels: netlify-cms/pending_publish

#1642 Update Roadmap version “v0-13-0”
  _data/roadmap-versions/v0-13-0.yml
Labels: netlify-cms/pending_publish

#1645 Update Roadmap version “ethereum-eip-4844”
  _data/roadmap-versions/ethereum-eip-4844.yml
Labels: netlify-cms/pending_publish

#1647 Create Event “starknet-germany-welcome-munich”
  _data/events/starknet-germany-welcome-munich.yml
  public/assets/frame-7-2.png
Labels: netlify-cms/pending_publish

#1600 Create Roadmap version “upcoming-versions”
  _data/roadmap-versions/upcoming-versions.yml
Labels: netlify-cms/pending_publish

#1593 Update Roadmap version “v0-14-0”
  _data/roadmap-versions/v0-14-0.yml
Labels: netlify-cms/pending_publish

#1595 Update Roadmap version “v0-15-0-1”
  _data/roadmap-versions/v0-15-0-1.yml
Labels: netlify-cms/pending_publish

#1646 Update Roadmap Post “reduction-in-transaction-costs-via-volition-mode”
  _data/roadmap-posts/reduction-in-transaction-costs-via-volition-mode.yml
Labels: netlify-cms/pending_publish

#1614 Create Roadmap Post “v3-transactions-pay-transaction-fees-in-strk”
  _data/roadmap-posts/v3-transactions-pay-transaction-fees-in-strk.yml
Labels: netlify-cms/pending_publish

#1617 Update Roadmap Post “fee-market-for-transactions”
  _data/roadmap-posts/fee-market-for-transactions.yml
Labels: netlify-cms/pending_publish

#1618 Create Roadmap Post “lower-l1-fees-with-eip-4844”
  _data/roadmap-posts/lower-l1-fees-with-eip-4844.yml
Labels: netlify-cms/pending_publish

#1629 Update how it works section
  _data/pages/what-is-starknet.yml
  workspaces/cms-config/src/blocks.ts
  workspaces/cms-data/src/pages.ts
  workspaces/website/src/blocks/Block.tsx
  workspaces/website/src/blocks/VideoSectionBlock.tsx
  workspaces/website/src/components/CategoryTabs/CategoryTabs.tsx
  workspaces/website/src/components/VideoPlayer/constants.ts
  workspaces/website/src/components/VideoPlayer/hooks/useOverflow.ts
  workspaces/website/src/components/VideoPlayer/player-website/BottomPlaylist.tsx
  workspaces/website/src/components/VideoPlayer/player-website/VideoPlayerWebsite.tsx
Labels: enhancement

#1652 Create Post “session-keys-unlocking-better-ux”
  _data/posts/session-keys-unlocking-better-ux.yml
  public/assets/session-keys-account-abstraction-unlocking-better-ux-starknet-v2a-1-.jpg
Labels: netlify-cms/pending_publish

#1653 Update Page “online-communities”
  _data/pages/online-communities.yml
Labels: netlify-cms/pending_publish

#1651 Update Event “starknet-pk-meet-up-1”
  _data/events/starknet-pk-meet-up-1.yml
Labels: netlify-cms/pending_publish

#1666 Create Post “from-zero-to-onchain-hero-building-complex-games-on-starknet”
  _data/posts/from-zero-to-onchain-hero-building-complex-games-on-starknet.yml
  public/assets/stark-spaces-gaming-on-starknet-premiere.jpg
Labels: netlify-cms/pending_publish

#1667 Update Page “online-communities”
  _data/pages/online-communities.yml
Labels: netlify-cms/pending_publish

#1665 Create Event “starknet-london-meetup-11-account-abstraction-with-visa”
  _data/events/starknet-london-meetup-11-account-abstraction-with-visa.yml
Labels: netlify-cms/pending_publish

#1668 Update Post “from-zero-to-onchain-hero-building-complex-games-on-starknet”
  _data/posts/from-zero-to-onchain-hero-building-complex-games-on-starknet.yml
Labels: netlify-cms/pending_publish

#1675 Update robot to not index unused translations
  public/robots.txt
Labels: bug

#1680 Create Event “gauntlet-starknet-x-nyc-november-happy-hour”
  _data/events/gauntlet-starknet-x-nyc-november-happy-hour.yml
  public/assets/frame-7-3.png
Labels: netlify-cms/pending_publish

#1681 Create Event “zk-nyc-0x01”
  _data/events/zk-nyc-0x01.yml
  public/assets/gfef53f6h6zcm_h_cjo6q.webp
Labels: netlify-cms/pending_publish

#1682 Create Event “starknet-meetup-a-paris-12”
  _data/events/starknet-meetup-a-paris-12.yml
  public/assets/frame-7-4.png
Labels: netlify-cms/pending_publish

#1683 Create Event “starknet-meetup-at-imnotart”
  _data/events/starknet-meetup-at-imnotart.yml
  public/assets/ltuevu3su36nercl7mhjr.webp
Labels: netlify-cms/pending_publish

#1655 Update hero copy
  _data/pages/block-explorers.yml
  _data/pages/full-nodes-api-services.yml
Labels: bug

#1685 Update Post “welcome-to-the-world-starknet-foundation”
  _data/posts/welcome-to-the-world-starknet-foundation.yml
Labels: netlify-cms/pending_publish

#1687 Update Page “full-nodes-api-services”
  _data/pages/full-nodes-api-services.yml
Labels: netlify-cms/pending_publish

#1688 Update Page “block-explorers”
  _data/pages/block-explorers.yml
Labels: netlify-cms/pending_publish

#1689 Create Topic “builders-council”
  _data/topics/builders-council.yml
Labels: netlify-cms/pending_publish

#1690 Create Post “starknet-builders-council-modus-operandi”
  _data/posts/starknet-builders-council-modus-operandi.yml
  public/assets/builders-council.jpg
Labels: netlify-cms/pending_publish

#1691 Update Page “wallets”
  _data/pages/wallets.yml
Labels: netlify-cms/pending_publish

#1692 Update Page “wallets”
  _data/pages/wallets.yml
Labels: netlify-cms/pending_publish

#1619 Update Page “test-media-kit”
  _data/pages/test-media-kit.yml
Labels: netlify-cms/pending_publish

#1695 Update Post “session-keys-unlocking-better-ux”
  _data/posts/session-keys-unlocking-better-ux.yml
  public/assets/sk.png
Labels: netlify-cms/pending_publish

#1699 Update Page “full-nodes-api-services”
  _data/pages/full-nodes-api-services.yml
Labels: netlify-cms/pending_publish

#1700 Update Page “developers”
  _data/pages/developers.yml
Labels: netlify-cms/pending_publish

#1703 Update Page “test-media-kit”
  _data/pages/test-media-kit.yml
Labels: netlify-cms/pending_publish

#1701 Update Settings “main-menu”
  _data/settings/main-menu.yml
Labels: netlify-cms/pending_publish

#1702 Remove duplicated seo titles
  workspaces/website/src/pages/posts/@category/index.page.server.ts
  workspaces/website/src/pages/roadmap/@slug/index.page.server.tsx
  workspaces/website/src/pages/roadmap/index.page.tsx
Labels: bug

#1697 Update navbar
  _data/settings/main-menu.yml
  workspaces/website/src/components/Footer/Footer.stories.tsx
  workspaces/website/src/components/Layout/Navbar/NavLayout.tsx
  workspaces/website/src/pages/(components)/Navbar.tsx
Labels: enhancement

#1706 Update Page “developers”
  _data/pages/developers.yml
Labels: netlify-cms/pending_publish

#1708 Create Post “episode-15-henri-lieutaud-with-fran-algaba-from-giza”
  _data/posts/episode-15-henri-lieutaud-with-fran-algaba-from-giza.yml
  public/assets/youthumb_hzhaw8ubovg_maxres.jpg
Labels: netlify-cms/pending_publish

#1710 Create Event “starknet-conference-india”
  _data/events/starknet-conference-india.yml
  public/assets/screenshot-2023-11-27-at-11.22.22.png
Labels: netlify-cms/pending_publish

#1711 Create Event “india-blockchain-week”
  _data/events/india-blockchain-week.yml
  public/assets/screenshot-2023-11-27-at-11.25.18.png
Labels: netlify-cms/pending_publish

#1712 Update Settings “main-menu”
  _data/settings/main-menu.yml
Labels: netlify-cms/pending_publish

#1713 Update Page “what-is-starknet”
  _data/pages/what-is-starknet.yml
Labels: netlify-cms/pending_publish

#1715 Update Page “what-is-starknet”
  _data/pages/what-is-starknet.yml
Labels: netlify-cms/pending_publish

#1714 Create Event “zk-bankai-hacker-house”
  _data/events/zk-bankai-hacker-house.yml
  _data/pages/what-is-starknet.yml
  public/assets/0xabix_bleach_anime_poster_with_soul_reapers_shown_as_computer__febdbfb1-942a-4cbe-bc94-6903f76c609c.png
Labels: netlify-cms/pending_publish

#1720 Create Event “exploring-cairo-starknet-ecosystem-and-blockchain”
  _data/events/exploring-cairo-starknet-ecosystem-and-blockchain.yml
  public/assets/7b87354c-c447-4496-9009-bcfea07d0703-2.png
Labels: netlify-cms/pending_publish

#1721 Create Event “starknet-mbarara-meetup”
  _data/events/starknet-mbarara-meetup.yml
  public/assets/600_517505961-1.png
Labels: netlify-cms/pending_publish

#1735 Update Page “full-nodes-api-services”
  _data/pages/full-nodes-api-services.yml
Labels: netlify-cms/pending_publish

#1738 Update Page “full-nodes-api-services”
  _data/pages/full-nodes-api-services.yml
Labels: netlify-cms/pending_publish

#1739 Update Settings “main-menu”
  _data/settings/main-menu.yml
Labels: netlify-cms/pending_publish

#1742 Update Page “block-explorers”
  _data/pages/block-explorers.yml
Labels: netlify-cms/pending_publish

#1743 Create Job “13e6db50-ffb8-4e1a-9d8a-7e5861ee28cf”
  _data/jobs/13e6db50-ffb8-4e1a-9d8a-7e5861ee28cf.yml
Labels: netlify-cms/pending_publish

#1746 Update Page “home”
  _data/pages/home.yml
Labels: netlify-cms/pending_publish

#1747 Update Page “home”
  _data/pages/home.yml
Labels: netlify-cms/pending_publish
