Repository starknet-io/starknet-website, pull requests merged in 2023-10, with the labels that each got.

#1477 Update Post “getting-started-using-starknet-setting-up-a-starknet-wallet”
  _data/posts/getting-started-using-starknet-setting-up-a-starknet-wallet.yml
Labels: netlify-cms/pending_publish

#1478 Update Roadmap Post “network-stability-improvements”
  _data/roadmap-posts/network-stability-improvements.yml
Labels: netlify-cms/pending_publish

#1479 Update Roadmap Post “fee-market-for-transactions”
  _data/roadmap-posts/fee-market-for-transactions.yml
Labels: netlify-cms/pending_publish

#1480 Update Roadmap Post “reduction-in-transaction-costs-via-volition-mode”
  _data/roadmap-posts/reduction-in-transaction-costs-via-volition-mode.yml
Labels: netlify-cms/pending_publish

#1481 Update Roadmap Post “reduction-in-transaction-costs-via-volition-mode”
  _data/roadmap-posts/reduction-in-transaction-costs-via-volition-mode.yml
Labels: netlify-cms/pending_publish

#1472 Update Settings “redirects”
  _data/settings/redirects.yml
Labels: netlify-cms/pending_publish

#1486 Update Page “bridges-and-on-ramps”
  _data/pages/bridges-and-on-ramps.yml
  public/assets/owlto-finance-logo.jpeg
Labels: netlify-cms/pending_publish

#1487 Create Job “221b0b01-07e4-48f2-9a18-46715d6faa47”
  _data/jobs/221b0b01-07e4-48f2-9a18-46715d6faa47.yml
  public/assets/carbonable-logo.jpg
Labels: netlify-cms/pending_publish

#1488 Create Job “8103d5a3-65ae-4829-862c-c69ef39c559f”
  _data/jobs/8103d5a3-65ae-4829-862c-c69ef39c559f.yml
Labels: netlify-cms/pending_publish

#1489 Create Job “a6f392f1-d809-4455-994d-f42638dadc8b”
  _data/jobs/a6f392f1-d809-4455-994d-f42638dadc8b.yml
Labels: netlify-cms/pending_publish

#1490 Create Job “4528fc2a-0b43-4bda-96c3-888ec0887042”
  _data/jobs/4528fc2a-0b43-4bda-96c3-888ec0887042.yml
Labels: netlify-cms/pending_publish

#1491 Create Job “2612dc8e-1485-4c12-97a6-22a5329e87f5”
  _data/jobs/2612dc8e-1485-4c12-97a6-22a5329e87f5.yml
  public/assets/zkx-black.png
Labels: netlify-cms/pending_publish

#1493 Create Job “d0599c81-e305-44ea-8891-5472bb3ed370”
  _data/jobs/d0599c81-e305-44ea-8891-5472bb3ed370.yml
Labels: netlify-cms/pending_publish

#1492 Create Job “955801e9-4e6f-46e0-81f4-c3439acb94b7”
  _data/jobs/955801e9-4e6f-46e0-81f4-c3439acb94b7.yml
Labels: netlify-cms/pending_publish

#1495 Update Job “5d3eddb8-3c4c-458f-bcdf-32d57ec8f22e”
  _data/jobs/5d3eddb8-3c4c-458f-bcdf-32d57ec8f22e.yml
Labels: netlify-cms/pending_publish

#1496 Update Settings “wallets”
  _data/settings/wallets.yml
Labels: netlify-cms/pending_publish

#1497 Update Settings “main-menu”
  _data/settings/main-menu.yml
Labels: netlify-cms/pending_publish

#1498 Create Event “starknet-germany-cairo-for-beginners”
  _data/events/starknet-germany-cairo-for-beginners.yml
  public/assets/berlin-mtp.png
Labels: netlify-cms/pending_publish

#1494 Create Job “e93a7528-dcd3-46fb-bac3-ab91a60e20e1”
  _data/jobs/e93a7528-dcd3-46fb-bac3-ab91a60e20e1.yml
  public/assets/hashstack-logo.jpg
Labels: netlify-cms/pending_publish

#1501 Create Event “starknet-germany-cairo-for-beginners-1”
  _data/events/starknet-germany-cairo-for-beginners-1.yml
  public/assets/frame-4-11.png
Labels: netlify-cms/pending_publish

#1502 Create Event “starkmex-vol-iii”
  _data/events/starkmex-vol-iii.yml
  public/assets/69599940-e045-415a-8dd2-c4e5db0c89e8-1.png
Labels: netlify-cms/pending_publish

#1503 Create Event “the-friends-of-ethereum-france-15-entrepreneurship-in-crypto-w-starknet-mangrove”
  _data/events/the-friends-of-ethereum-france-15-entrepreneurship-in-crypto-w-starknet-mangrove.yml
  public/assets/frame-4-12.png
Labels: netlify-cms/pending_publish

#1504 Create Event “starknet-london-meetup-9-cairo-beginner-workshop-2”
  _data/events/starknet-london-meetup-9-cairo-beginner-workshop-2.yml
Labels: netlify-cms/pending_publish

#1506 Update Page “online-communities”
  _data/pages/online-communities.yml
Labels: netlify-cms/pending_publish

#1507 Update Settings “main-menu”
  _data/settings/main-menu.yml
Labels: netlify-cms/pending_publish

#1509 Create Event “ready-set-devconnect”
  _data/events/ready-set-devconnect.yml
  public/assets/frame-4-13.png
Labels: netlify-cms/pending_publish

#1508 Update Settings “permissions”
  _data/settings/permissions.yml
Labels: netlify-cms/pending_publish

#1510 Update Settings “permissions”
  _data/settings/permissions.yml
Labels: netlify-cms/pending_publish

#1512 Create Job “984f65d3-9bf1-4735-9a34-cc43091fa26c”
  _data/jobs/984f65d3-9bf1-4735-9a34-cc43091fa26c.yml
Labels: netlify-cms/pending_publish

#1519 Fix jobs page size
  workspaces/website/src/pages/jobs/JobsPage.tsx
Labels: bug

#1521 Update Event “ready-set-devconnect”
  _data/events/ready-set-devconnect.yml
  public/assets/devconnect-mtp.png
Labels: netlify-cms/pending_publish

#1522 Create Job “e16224ab-674d-439d-926c-9a20031e1aeb”
  _data/jobs/e16224ab-674d-439d-926c-9a20031e1aeb.yml
  public/assets/screenshot-labs-logo.jpg
Labels: netlify-cms/pending_publish

#1524 Update Settings “permissions”
  _data/settings/permissions.yml
Labels: netlify-cms/pending_publish

#1516 Create Event “zk-night-with-starknet”
  _data/events/zk-night-with-starknet.yml
  public/assets/frame-4-14.png
Labels: netlify-cms/pending_publish

#1525 Create Event “escalabilidad-en-ethereum”
  _data/events/escalabilidad-en-ethereum.yml
  public/assets/sn-stacked-flat-colour-on-dark-bg.png
Labels: netlify-cms/pending_publish

#1529 Update Settings “main-menu”
  _data/settings/main-menu.yml
Labels: netlify-cms/pending_publish

#1530 Update Page “block-explorers”
  _data/pages/block-explorers.yml
Labels: netlify-cms/pending_publish

#1532 Update Settings “wallets”
  _data/settings/wallets.yml
  public/assets/unnamed.jpg
Labels: netlify-cms/pending_publish

#1528 Fix jobs line spacing
  workspaces/website/src/pages/jobs/JobsPage.tsx
Labels: bug

#1531 FIx broken video
  _data/posts/opening-session.yml
Labels: bug

#1536 Create Topic “on-chain-gaming”
  _data/topics/on-chain-gaming.yml
Labels: netlify-cms/pending_publish

#1534 Create Post “trailblazing-the-way-to-building-new-worlds”
  _data/posts/trailblazing-the-way-to-building-new-worlds.yml
  public/assets/shoshin-onchain-game-blog-image.jpg
Labels: netlify-cms/pending_publish

#1535 Create Post “starknet-decentralization-a-roadmap-in-broad-strokes”
  _data/posts/starknet-decentralization-a-roadmap-in-broad-strokes.yml
  public/assets/decentralization-roadmap-post-v2-blog-image.webp
Labels: netlify-cms/pending_publish

#1533 Add type list to ListCard
  workspaces/website/src/blocks/ListCardItems.tsx
Labels: enhancement

#1537 Create Event “starknet-lagos-meetup-p”
  _data/events/starknet-lagos-meetup-p.yml
  public/assets/frame-4-15.png
Labels: netlify-cms/pending_publish

#1541 Create Event “starknet-mixer-istanbul”
  _data/events/starknet-mixer-istanbul.yml
  public/assets/02bb9880_4c56_49ee_920a_ba6bc7fe2fa8.jpeg
  public/assets/frame-6-2.png
Labels: netlify-cms/pending_publish

#1542 Create Event “defi-day”
  _data/events/defi-day.yml
  public/assets/screenshot-2023-10-25-at-14.59.54.png
Labels: netlify-cms/pending_publish

#1543 Create Event “abstract-day”
  _data/events/abstract-day.yml
  public/assets/abstract-day.png
Labels: netlify-cms/pending_publish

#1544 Create Event “nethermind-summit”
  _data/events/nethermind-summit.yml
  public/assets/ntm.png
Labels: netlify-cms/pending_publish

#1545 Create Event “zk-accelerate”
  _data/events/zk-accelerate.yml
  public/assets/zk-acceler.png
Labels: netlify-cms/pending_publish

#1548 Update Post “trailblazing-the-way-to-building-new-worlds”
  _data/posts/trailblazing-the-way-to-building-new-worlds.yml
Labels: netlify-cms/pending_publish

#1546 Create Post “safe-and-sound-a-deep-dive-into-stark-security”
  _data/posts/safe-and-sound-a-deep-dive-into-stark-security.yml
  public/assets/safe-and-sound-a-deep-dive-into-stark-security-300x168.jpg
Labels: netlify-cms/pending_publish

#1551 Update Post “safe-and-sound-a-deep-dive-into-stark-security”
  _data/posts/safe-and-sound-a-deep-dive-into-stark-security.yml
  public/assets/safe-and-sound-a-deep-dive-into-stark-security.jpg
Labels: netlify-cms/pending_publish

#1552 Update Post “safe-and-sound-a-deep-dive-into-stark-security”
  _data/posts/safe-and-sound-a-deep-dive-into-stark-security.yml
  public/assets/swmarketing_stark_security_blockchain_security_providing_the_hi_6c75f233-f985-4bb5-a130-e1defafc5299.png
Labels: netlify-cms/pending_publish

#1553 Update Page “full-nodes-api-services”
  _data/pages/full-nodes-api-services.yml
Labels: netlify-cms/pending_publish

#1555 Create Job “a27362c6-b4e2-4543-a7a7-2d8e20670f7e”
  _data/jobs/a27362c6-b4e2-4543-a7a7-2d8e20670f7e.yml
  public/assets/cosmonaut_pfp_red.svg
Labels: netlify-cms/pending_publish

#1550 Fix cms wallet section
  _data/pages/block-explorers.yml
  _data/pages/wallets.yml
  workspaces/cms-config/src/blocks.ts
  workspaces/cms-data/src/pages.ts
  workspaces/website/src/blocks/Block.tsx
  workspaces/website/src/blocks/ListCardItems.tsx
  workspaces/website/src/blocks/dataBlocks/BlockWallets/BlockWallets.tsx
  workspaces/website/src/components/Card/Card.stories.tsx
  workspaces/website/src/components/Card/ListCard.tsx
Labels: bug

#1556 Update Page “full-nodes-api-services”
  _data/pages/full-nodes-api-services.yml
Labels: netlify-cms/pending_publish

#1559 Create Event “starknet-singapore-meetup-1”
  _data/events/starknet-singapore-meetup-1.yml
  public/assets/a73577c3-634e-4dd7-8255-c1c0ab932464.png
Labels: netlify-cms/pending_publish

#1561 Update Page “full-nodes-api-services”
  _data/pages/full-nodes-api-services.yml
Labels: netlify-cms/pending_publish

#1565 Create Post “stark-spaces-madara-all-stars”
  _data/posts/stark-spaces-madara-all-stars.yml
  public/assets/stark-spaces-full-nodes-on-starknet.png
Labels: netlify-cms/pending_publish

#1566 Update table
  _data/posts/the-starknet-stack-s-growth-spurt.yml
Labels: enhancement
